body {
    background: #ffffff;
    width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}



.header {
    border: 2px #000000 solid;
    margin-top: 10px;
    background-color: #cccccc;
    display: flex;
    flex-direction: row;

}

.header .logo-image {
    padding: 15px;
}
.header .logo-textarea {   
   padding-top: 35px;
}
.header .logo-textarea .logo-text {
    display: block;
    color: #696969;
    font-size: 30px;
    line-height: 30px;
}
.header .logo-textarea .description {
    line-height: 25px;
    font-size: 20px;
    color: #696969;
}

.menu {
  background: #383838;
 
  border: 2px solid #000000;
  border-top: none;
}

.menu .menu-list {
    display: flex;
    
 
    list-style: none;
    letter-spacing: 1px;
    justify-content: space-around;
}
.menu .menu-list .menu-item {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;

}
.menu .menu-list .menu-item .link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;

    /*height: 100%;*/
   /* display: block;*/
}

.menu .menu-list .menu-item .link:hover {
    display: block;
    background: #ffffff;
    color: #696969;
    border-bottom: none;
    
}
.content {
    margin-top: 10px;
    height: 900px;
}

.content .sub-menu-container {
   display: inline-block;
   background: #cccccc;
   height: 92%;
   padding: 25px 25px 0 25px;
   float: left;
}

.content .sub-menu-container .link{
    font-size: 25px;
    line-height: 30px;
    background: #3b3b3b;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.content .sub-menu-container .link:hover {
    background: #ffffff;
    text-decoration: underline;
    color: #696969;
}

.content .news {

    margin-left: 400px;
    letter-spacing: 1px;

}
.content .news .new {
    background: #cccccc;
    margin: 15px 0;
   
}
.content .news .new .image {
    padding: 60px 25px; 
    float: left;
}
.content .news .new .title {
    padding-top: 20px;
    font-size: 25px;
}
.content .news .new .description {
    font-size: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
    line-height: 30px;
    display: flex;

}

.footer {   
    height: 50px;
    background: #3b3b3b; 
    margin-bottom: 50px;
}